<h2>Products</h2>

<div *ngFor="let pro of products">
	<h3>
		<a [title]="pro.name + 'の詳細を見る'">
			{{pro.name}}
		</a>
	</h3>
	<p *ngIf="pro.description">
		詳細：{{pro.description}}
	</p>
	<button (click)="doSomething()">ボタン</button>
	<app-alert [pro]="pro" (notify)="onNotify()">
	</app-alert>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->